.BannerSection {
    margin-top: 88px;
    padding: 0 80px;
    margin-bottom: 48px;

    @media (max-width: 768px) {
        padding: 0 20px 14px;
        margin: 48px 0 0;
        margin-bottom: 100px;
    }

    .mainBanner {
        position: relative;
        height: 656px;
        display: flex;
        flex-direction: column;

        @media (max-width:768px) {
            flex-direction: row;
            width: 100%;
            height: 100%;
        }

        .bannerInner {
            position: relative;
            display: flex;
            // align-items: center;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                background-image: url("../../../public/assets/Images/bannerInnerbg.svg");
                background-repeat: no-repeat;
                left: -17px;
                top: 33px;                       
                z-index: -1;
                background-position: top left;
                width: 124.007px;
                height: 173.821px;
            }

            @media (max-width:768px) {
                display: block;
                width: 100%;
            }

            .BannerTextsec {
                position: relative;
                width: 50%;
                margin-top: 60px;

                @media (max-width:768px) {
                    width: 100%;
                }

                .bannerSubButton {
                    padding: 6px 16px;
                    border-radius: 30px;
                    border: 1px solid rgba(14, 14, 14, 0.10);
                    background: #FFF;
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
                    color: #0E0E0E;
                    font-family: Satoshi;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    margin-bottom: 18px;
                    display: inline-block;

                    @media (max-width: 768px) {
                        color: #0E0E0E;
                        font-family: Satoshi;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                        border-radius: 30px;
                        border: 1px solid rgba(14, 14, 14, 0.10);
                        background: #FFF;
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
                        padding: 6px 16px;
                        margin-bottom: 8px;
                    }
                }

                .bannertext {
                    color: #0E0E0E;
                    width: 585px;
                    font-family: Satoshi;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 72px;
                    margin-bottom: 16px;

                    @media (max-width: 768px) {
                        color: #0E0E0E;
                        font-family: Satoshi;
                        font-size: 46px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 54px;
                        width: 100%;
                        margin-bottom: 12px;
                    }
                }

                .bannerSubtext {
                    color: rgba(14, 14, 14, 0.70);
                    font-family: Satoshi;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    width: 550px;
                    margin-bottom: 48px;

                    @media (max-width:768px) {
                        color: rgba(14, 14, 14, 0.70);
                        font-family: Satoshi;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        width: 100%;
                        margin-bottom: 56px;
                    }
                }

                .mainButton {
                    display: flex;
                    align-items: center;

                    @media (max-width:768px) {
                        margin-bottom: 30px;
                    }

                    .BannerBuyButton {
                        width: 164px;
                        height: 52px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        color: #FFF;
                        text-align: center;
                        font-family: Satoshi;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 26px;
                        background-color: #0E0E0E;
                        margin-right: 16px;
                        border: none;
                        outline: none;
                        transition: all 0.3s;
                        cursor: pointer;
                        gap: 4px;

                        @media (max-width:768px) {
                            width: 133px;
                            height: 48px;
                            border-radius: 10px;
                            background: #0E0E0E;
                            color: #FFF;
                            text-align: center;
                            font-family: Satoshi;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 22px;
                            border: none;
                            outline: none;
                            transition: all 0.3s;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(13, 13, 13, 0.8);
                            }
                        }

                        img {
                            margin: 0;
                        }

                        &:hover {
                            background-color: rgb(13, 13, 13, 0.8);
                        }
                    }

                    .BannerWhitepaperButton {
                        width: 219px;
                        height: 52px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        background: rgba(14, 14, 14, 0.10);
                        color: #0E0E0E;
                        font-family: Satoshi;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 26px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: all 0.3s;
                        gap: 4px;

                        @media (max-width:768px) {
                            width: 180px;
                            height: 48px;
                            border-radius: 10px;
                            background: rgba(14, 14, 14, 0.10);
                            color: #0E0E0E;
                            text-align: center;
                            font-family: Satoshi;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 22px;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }

                        &:hover {
                            color: #0e0e0ea6;
                        }

                        img {
                            margin: 0;
                        }
                    }
                }

            }

            .BannerImgSec {
                position: relative;
                width: 50%;

                @media (max-width:768px) {
                    width: 100%;
                    overflow: hidden;
                }

                .BannerImg {
                    @media (max-width:768px) {
                        display: none;
                    }
                }

                .MobileBannerImg {
                    display: none;

                    @media (max-width:768px) {
                        display: block;
                    }
                }
            }
        }
    }
}