.TokenIssuancePlanSec {
    background: #F6F6F6;
    padding: 80px;
    margin-bottom: 150px;

    .TokenIssuancePlanMain {
        .TokenIssuancePlan {
            border-bottom: 1.5px solid rgba(14, 14, 14, 0.10);
            ;

            .TokenIssuancePlancard {
                display: flex;
                align-items: center;
                margin-bottom: 56px;

                .TokenIssuance {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;

                    .TokenIssuanceCard {
                        width: 344px;
                        height: 143px;
                        border-radius: 16px;
                        border: 1px solid rgba(14, 14, 14, 0.10);
                        background: #FFF;
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;

                        .ProjectAssetsText {
                            color: #0E0E0E;
                            text-align: center;
                            font-family: Satoshi;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 28px;
                            /* 140% */
                        }
                    }

                    .TokenIssuanceBEPCard {
                        width: 344px;
                        height: 143px;
                        border-radius: 16px;
                        border: 1px solid rgba(14, 14, 14, 0.10);
                        background: #FFF;
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .BepText {
                            color: #0E0E0E;
                            font-family: Satoshi;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 30px;
                        }

                        .SpecificationText {
                            color: #0E0E0E;
                            text-align: center;
                            font-family: Satoshi;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 28px;
                        }

                    }
                }

            }
        }
        
        .TokenIssuancePlanChart {
            text-align: center;
            margin-top: 120px;
            
            .arrow_to_discription {
                position: relative;
                
                .GovernanceColor{
                    text-align: left;

                    span{
                        display: block;
                    }
                    .title{
                        color: rgba(14, 14, 14, 0.70);
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 2px;
                    }
                    .description{
                        color: #0E0E0E;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
                
                .discription_sub_div1 {
                    position: absolute;
                    top: -282px;
                    left: 610px;

                    .piecircle {
                        position: relative;
                    }
                    .pieBorder1 {
                        position: absolute;
                        top: -47px;
                        left: -275px;
                    }
                    .Governance1{
                        position: absolute;
                        top: -114px;
                        left: -270px;
                        text-align: left;
                    }
                }

                .discription_sub_div2 {
                    position: absolute;
                    top: -237px;
                    left: 252px;

                    .piecircle {
                        position: relative;
                    }

                    .pieBorder1 {
                        position: absolute;
                        top: -23px;
                        left: -281px;
                    }
                    .Governance2{
                        position: absolute;
                        top: -68px;
                        left: 0;
                    }
                }

                .discription_sub_div3 {
                    position: absolute;
                    top: -122px;
                    left: 180px;

                   .Governance3{
                    position: absolute;
                    top: -10px;
                   }
                }

                .discription_sub_div4 {
                    position: absolute;
                    top: -50px;
                    left: 648px;

                    .Governance4{
                        position: absolute;
                        top: -10px;
                        right: 0;
                        text-align: right;
                    }
                }

                .discription_sub_div5 {
                    position: absolute;
                    top: -206px;
                    left: 732px;

                    .Governance5{
                        position: absolute;
                        top: -68px;
                        right: 0;
                        text-align: right;
                    }
                }
            }
        }
    }
}